<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Hello World</title>
  </head>
  <body>
    <h1>Time to learn HTML</h1>
    <img src="images/Biryani.jpg" alt="Printing alternate attribute">
    <p>Hello World!</p>
    <p>Lets learn HTML</p>
    <ul>
      <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">MDN</a></li>
      <li><a href="https://learn.shayhowe.com/html-css/">Shay Howe</a></li>
    </ul>  
  </body>  
</html>